<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Diagraph Preferences"
            class="org.isoe.diagraph.preferences.DiagraphPreferences"
            id="org.isoe.test3.preferences.DiagraphPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.isoe.diagraph.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
