<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!--extension
         point="org.eclipse.ui.views">
      <category
            name="Diagraph Category"
            id="org.isoe.diagraph.check.release">
      </category>
      <view
            name="Release checking"
            icon="icons/sample.gif"
            category="org.isoe.diagraph.check.release"
            class="org.isoe.diagraph.check.release.views.CheckRelease"
            id="org.isoe.diagraph.check.release.views.CheckRelease">
      </view>
   </extension-->


</plugin>
