<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.lirmm.fr/mtbe/1.0.1/rules.ecore"
            class="rules.RulesPackage"
            genModel="model/rules.genmodel"/>
   </extension>

</plugin>
